version: '0.1'

services:
  db:
    container_name: postgres-db
    image: postgres:latest
    restart: always
    ports:
      - 7432:5432
    environment:
      - POSTGRES_PASSWORD=yb
      - POSTGRES_USER=yb
      - POSTGRES_DB=yb
    volumes:
      - ~/yb/docker-volume/postgres:/var/lib/postgresql/data
    platform: linux/amd64
  redis:
    container_name: redis-db
    image: redis:7.2.4
    restart: always
    ports:
      - 6379:6379
    platform: linux/amd64

